/* ====== Headings ====== */

h1, .h1 {
  font-size: 4em;
  line-height: 2em;
  font-family: var(--base-font-strong);
}

h2, .h2 {
  font-size: 3em;
  line-height: 2em;
  font-family: var(--base-font-strong);
}

h3, .h3 {
  font-size: 1.5em;
}

h4, .h4 {
  font-size: 1em;
}

h5, .h5 {
  font-size: 1em;
}
