.nak-title {
  color: var(--white);
  font-size: 10vw;
  text-shadow: 1px 1px 20px var(--neutral);
}

.nak-title--addon {
  color: var(--color);
  font-size: 5vw;
}

.nak-subtitle {
  color: var(--white);
  font-size: 5vw;
  text-shadow: 1px 1px 20px var(--neutral);
}
