.pin {
  display: flex;
  position: fixed;
  top: calc(var(--spacer)*6);
  right: calc(var(--spacer)*6);
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  padding: var(--spacer);
  border-radius: var(--border-radius);
  background: var(--white);
  color: var(--opaque);
  text-align: center;
  opacity: .8;
  &:before {
    position: absolute;
    top: var(--spacer);
    right: var(--spacer);
    width: calc(var(--spacer)*2);
    height: calc(var(--spacer)*2);
    border-radius: calc(var(--border-radius)/2);
    background: var(--color);
    animation: pin 5s infinite alternate;
    content: "";
    opacity: 0;
  }
}

@keyframes pin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
