.example-grid{
  >*{
    padding: calc(4 * var(--spacer));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}
.example-grid__link{
  text-decoration: none;

}
.example-grid__image{
margin-top: calc(2 * var(--spacer));
width: 100%;
stroke:var(--pale);
}
